.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 230px;
  transition: .4s;
}

.card__picture {
  display: flex;
  width: 100%;
  height: 151px;
  object-fit: contain;
}

.card__description {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.card__titel {
  margin: 14px 20px 29px 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  width: 226px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  transition: .4s;
}

.card__like-button {
  margin: 10px 0 25px 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background: url("../../images/likeOff.svg");
  transition: .4s;
}

.card__like-button_liked {
  background: url("../../images/likeOn.svg");
}

.card__like-button:hover {
  opacity: 0.8;
}

.card__delete-button {
  margin: 10px 0 25px 0;
  cursor: pointer;
  display: flex;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background: url("../../images/delete.svg");
  transition: .4s;
}

.card__delete-button:hover {
  opacity: 0.8;
}

.card__duration {
  display: flex;
  margin: 0;
  padding: 6px 0 0 0;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  align-items: center;
  color: #8B8B8B;
  width: 100%;
  border-top: solid 1px #424242;
  transition: .4s;
}

@media screen and (max-width: 1297px) {
  .card {
    width: 339px;
    height: 269px;
  }

  .card__picture {
    height: 190px;
  }

  .card__titel {
    width: 295px;
  }
}

@media screen and (max-width: 577px) {
  .card {
    width: 300px;
    height: 246px;
  }

  .card__picture {
    height: 168px;
  }

  .card__titel {
    width: 256px;
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    font-size: 10px;
    line-height: 12px;
  }
}
