.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  height: 230px;
}

.card__picture {
  display: flex;
  width: 270px;
  height: 151px;
  object-fit: contain;
}

.card__description {

}

.card__titel {

}

.card__like-button {
  cursor: pointer;
  display: flex;
  padding: 0;
  border: none;
  width: 24px;
  height: 24px;
  background: url("../../images/likeOff.svg");
  transition: .4s;
}

.card__like-button:hover {
  opacity: 0.8;
}
