.form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.form__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}

.form__input {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  position: relative;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #8B8B8B;
}

.form__textfield {
  width: 100%;
  margin: 5px 0 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 0 0 10px 0;
  border: none;
  outline:none;
  border-bottom: solid 1px #424242;
  background: inherit;
}

.form__textfield:focus {
  font-weight: 500;
  border-bottom: solid 1px #4285F4;;
}

.form__textfield_error {
  color: #EE3465;
}

.form__error {
  margin: 0;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #EE3465;
  opacity: 0;
  position: absolute;
  bottom: 6px;
  left: 0;
  transition: .3s;
}

.form__error_visible {
  opacity: 1;
}

.form__button {
  margin: 128px 0 16px;
  padding: 13px 0 15px;
  box-sizing: border-box;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  cursor: pointer;
  background: #4285F4;
  border-radius: 3px;
  border: none;
  transition: .4s;
}

.form__button:hover {
  opacity: .8;
}

.form__text {
  margin: 0;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  transition: .4s;
}

.form__link {
  margin: 0 0 0 6px;
  cursor: pointer;
  text-decoration: none;
  color: #4285F4;
  transition: .4s;
}

.form__link:hover {
  opacity: .7;
}

@media screen and (max-width: 450px) {
  .form__button {
    margin: 285px 0 14px;
    padding: 15px 0 ;
    font-size: 12px;
    line-height: 15px;
  }

  .form__text {
    font-size: 12px;
    line-height: 15px;
  }
}
