.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  padding: 0 70px 106px;
  transition: .4s;
}

.portfolio__title {
  margin: 0 0 30px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #8B8B8B;
  transition: .4s;
}

.portfolio__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
}

.portfolio__item {
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  border-bottom: 1px solid #424242;
}

.portfolio__item:last-of-type {
  border-bottom: none;
}

.portfolio__link {
  margin: 0;
  margin: 20px 0 19px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #FFFFFF;
  text-decoration: none;
  transition: linear .3s;
}

.portfolio__link:hover {
  opacity: 0.7;
}

.portfolio__link-text {
  margin: 0;
  font-weight: normal;
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
  transition: .4s;
}

@media screen and (max-width: 868px) {
  .portfolio__title {
    color: #A0A0A0;
  }

  .portfolio__link-text {
    font-size: 28px;
  }

  .portfolio {
    padding: 0 50px 71px;
  }

  .portfolio__item {
    border-bottom: 1px solid #E6E6E6;;
  }
}

@media screen and (max-width: 560px) {
  .portfolio {
    padding: 0 14px 50px;
  }

  .portfolio__title {
    margin: 0 0 20px 0;
    font-size: 14px;
    line-height: 20px;
  }

  .portfolio__link-text {
    font-size: 18px;
    line-height: 28px;
  }
}
